<div class="container fundo">
  <div fxLayout="column" fxLayoutAlign="center start" style="margin-top: 3em;">
    <p class="titulo">Ola! Seja bem vindo(a) a
      aplicação Rotatividade mensal </p>
    <p style="font-size: 20px; font-weight: 300;">Ao Anexar sua planilha no botão Anexar abaixo você tera uma analise de
      Monthly Recurring Revenue (MRR) e Churn Rate entre outras.
    </p>
  </div>
  <!-- <div fxLayout="row" fxLayoutAlign="end center">
    <mat-form-field appearance="fill">
      <mat-label>Filtre pela data de anexo</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div> -->
  <div fxLayout="row" fxLayoutAlign="end center">
    <mat-form-field appearance="fill">
      <mat-label>Filtre pelo nome</mat-label>
      <input matInput placeholder="Nome do arquivo" [formControl]="filtroNome">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card fxFlex="100">
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center" style="margin-top: 1.5em;">
        <div fxLayout="column" fxFlex="80">
          <mat-card-content class="letra-card">Anexe sua planilha
          </mat-card-content>
        </div>
        <mat-card-content fxLayout="column" fxFlex="20">
          <button mat-raised-button color="primary"
            (click)="fileInput.click()"><mat-icon>upload_file</mat-icon>Anexar</button>
          <input hidden type="file" multiple="false" (change)="adicionaArquivo($event)" #fileInput
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
        </mat-card-content>
      </div>
      <mat-card-header>
        <mat-card-subtitle>Clique no botão "Anexar" para fazer upload de sua planilha, lembrando que ela precisa esta no formato .csv ou .xlsx</mat-card-subtitle>
      </mat-card-header>

      <div *ngIf="anexos.length == 0" fxLayout="row" fxLayoutAlign="center center" class="card-sem-anexo">
        <p class="titulo">Não há planilhas cadastradas</p>
      </div>

      <mat-card-content style="margin-top: 1em;" *ngFor="let anexo of anexos">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100" fxLayoutGap="0.5em">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50">
            <p>{{anexo.nome}}</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="end center" fxFlex="50" fxLayoutGap="1em">
            <button mat-stroked-button color="primary" (click)="excluir(anexo)"><mat-icon>delete</mat-icon>Excluir</button>
            <button mat-stroked-button color="primary"
              (click)="navegaAnalise(anexo.id)"><mat-icon>query_stats</mat-icon>Analizar planilha</button>
          </div>
        </div>
      </mat-card-content>

    </mat-card>
  </div>
</div>