<mat-toolbar color="primary" >
  <div fxLayoutAlign="space-between center" fxFlex="100">

    <div fxLayoutAlign="start center">
      <img src="assets/imagens/logorotatividade.png" width="25%" fxFlex="60">
    </div>
    <div fxLayoutAlign="end center">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="material-icons-outlined" fontIcon="info"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  </div>

</mat-toolbar>

<router-outlet></router-outlet>