<div fxLayout="column" style="margin-top: 2em;" class="container">
    <div fxLayout="row" fxFlex="100" fxLayoutGap="2em">
        <mat-card fxFlex="25" class="borda-verde" fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start center">
            <mat-icon fontIcon="group" style="padding-left: 0.5em;"></mat-icon>
            <div fxLayout="column">
                <span>Total de clientes</span>
                <span>948</span>
            </div>

        </mat-card>
        <mat-card fxFlex="25" class="borda-verde" fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start center">
            <mat-icon fontIcon="attach_money" style="padding-left: 0.5em;"></mat-icon>
            <div fxLayout="column">
                <span>Receita de clientes ativos</span>
                <span>R$ 1.256,00</span>
            </div>

        </mat-card>
        <mat-card fxFlex="25" class="borda-vermelho" fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start center">
            <mat-icon fontIcon="close" style="padding-left: 0.5em;"></mat-icon>
            <div fxLayout="column">
                <span>Total de cancelamentos</span>
                <span>12</span>
            </div>

        </mat-card>
        <mat-card fxFlex="25" class="borda-vermelho" fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start center">
            <mat-icon fontIcon="attach_money" style="padding-left: 0.5em;"></mat-icon>
            <div fxLayout="column">
                <span>Valor provido de cancelamentos</span>
                <span>R$ 456,00</span>
            </div>

        </mat-card>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="end center">
        <mat-form-field appearance="fill">
            <mat-label>Filtre pela data</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxFlax="100">
        <div fxLayoutGap="2em">
            <mat-card fxFlex="60" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" class="container">
                    <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
                        [legend]="barChartLegend" [type]="'bar'">
                    </canvas>
                </div>
            </mat-card>
            <mat-card fxFlex="40" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" class="container">
                    <p>Churn Rate</p>
                    <p>Churn rate é a taxa de cancelamento, ou de abandono, registrada em sua base de clientes.</p>
                    <p>(O grafico ao lado exibe o número de clientes que cancelaram a assinatura).</p>
                </div>
            </mat-card>
        </div>
    </div>
    <br>
    <div fxLayout="row" fxFlax="100">
        <div fxLayoutGap="2em">
            <mat-card fxFlex="60" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" class="container">
                    <canvas baseChart width="400" height="400" [type]="'line'" [data]="lineChartData"
                        [options]="lineChartOptions" [legend]="lineChartLegend">
                    </canvas>
                </div>
            </mat-card>
            <mat-card fxFlex="40" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" class="container">
                    <p>Churn de receita</p>
                    <p>Existe uma simples, mas importante diferença entre o Churn e o que chamamos de Churn de Receita
                        (também conhecido como MRR Churn).
                        Enquanto o primeiro avalia o número de clientes que cancelaram seu produto ou serviço, o Churn
                        de receita calcula quanto em receita você perdeu com esses cancelamentos.</p>
                        <p>(O grafico ao lado exibe o valor perdido com o cancelamento de assinaturas).</p>
                </div>
            </mat-card>
        </div>
    </div>
    <br>
    <div fxLayout="row" fxFlax="100">
        <div fxLayoutGap="2em">
            <mat-card fxFlex="60" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" class="container">
                    <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
                        [legend]="barChartLegend" [type]="'bar'">
                    </canvas>
                </div>
            </mat-card>
            <mat-card fxFlex="40" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" class="container">
                    <p>Recurring Revenue (MRR)</p>
                    <p>O MRR é o cálculo de quanto a empresa receberá mensalmente pelas assinaturas de uso dos seus
                        produtos ou serviços. É mediante essa métrica que os líderes empresariais conseguem prever o
                        ganho mensal e, consequentemente, planejar investimentos futuros. </p>
                        <p>(O grafico ao lado exibe quanto você faturou com as assinaturas)</p>

                </div>
            </mat-card>
        </div>
    </div>
    <br>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Valor</th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <p fxLayoutAlign="center center">Desenvolvido por: Pâmela Araújo</p>
</div>